*~
pdfs/
scripts
__pycache__
attic/
.coverage
fonts/
*.egg-info/
rules/
\#*
.\#*
*~
tmp/
.hypothesis/
test_artifacts/
.complexipy_cache/
.pytest_cache/
.ruff_cache/
complexipy-snapshot.json
_build/
build/
tests/cache/
smoke_outputs/
