# 1. Include the essentials
include pyproject.toml
include README.md
include LICENSE
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.py

# 2. Include the type marker (for VS Code/MyPy)
include src/pdfbeaver/py.typed

# 3. Recursive rules (Grab everything inside these folders)
graft tests
graft src/pdfbeaver

# 4. EXCLUDE junk you don't want to ship
#    (Prevents shipping local config files, cache, or temporary builds)
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *.so
global-exclude *~
global-exclude \#*
global-exclude .DS_Store
global-exclude .coverage
exclude .gitignore

prune tests/.hypothesis
prune .github
prune tests/cache
